$brand-primary: #900000;
$input-border-focus: $brand-primary;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "header.scss";
@import "footer.scss";
@import "spinner.scss";

.glyphicon-star {
  color: darken(yellow,15%);
}
.repos-list .pager{
  margin: 0 0 10px 0;
}
.repos-list{
  width: 100%;
}
.repos-list .spinner{
  position: absolute;
  left: 50%;
  margin-left: -35px;
}